# Ton environnement virtuel
aibenv/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Dossiers de données
data/brute/
data/processed/
data/mean_student/
data/final/

# Système macOS (Correction ici)
.DS_Store
**/.DS_Store

# Fichiers de configuration IDE
.vscode/
.idea/